<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKWatchKitAppBundleIdentifier</key>
			<string>com.blake.StrainFitnessTrackerWatch</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit.complication</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ComplicationController</string>
	</dict>
</dict>
</plist>
